List properties

 - ordered(sequence)
 - indexed
 - immutable(changeable)
 - duplicate values are allowed
 - heterogenous(diff. types of data)
 - tuple id denoted by()
 - an iterable can be converted to using "tuple()" function

In [2]:
x=(1,2,3,4) # simple tuple
print(x)

(1, 2, 3, 4)

In [3]:
y=12,56,23,45 #tuple packing
print(y)

(12, 56, 23, 45)

In [5]:
a,b,c=(12,45,125) # tuple unpacking
print(a,b,c)
a,*b=(12,45,125)
print(a,b)
a,b=(1,2,3)  #Error:too many values
a,b,c,d=(1,2,34) #Error

12 45 125
12 [45, 125]

In [8]:
x=[1,2,3,4]
xt=tuple(x)
s="digipodium"
st=tuple(s)
print(xt,st,sep='\n')

(1, 2, 3, 4)
('d', 'i', 'g', 'i', 'p', 'o', 'd', 'i', 'u', 'm')

In [10]:
y=(1,2,3,4,5,6,7,8,912,2546,2154,541543,145451,3,3,3,3,3,58)
print(y.index(912))
print(y.count(3))

8
6

In [14]:
a=(1,2,3)
c=(3,5,6)
c+=a
print(c)

(3, 5, 6, 1, 2, 3)